<div class="card card-block well well-sm" data-id="<%= card.id %>" data-rank="<%= card.escape("rank") %> " data-list-id="<%= list.id %>">
  
  <%= card.escape("title") %> <%= card.escape("rank") %> <button class="remove-card btn btn-danger btn-xs hidden"><span class="glyphicon glyphicon-trash"></span></button>

</div>