<div class="card card-block" data-id="<%= card.id %>" data-rank="<%= card.escape("rank") %> " data-list-id="<%= list.id %>">
  
  <a href="#" data-toggle="modal" data-target=".card-modal-<%= card.id %>" class="card-modal">
    <div class="card-text clearfix">
      <%= card.escape("title") %> <button class="remove-card btn btn-danger btn-xs hidden"><span class="glyphicon glyphicon-trash"></span></button>
    </div>
  </a>

  <div class="modal fade card-modal-<%= card.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title"><span id="card-title"><%= card.escape("title") %> <a href="#" class="edit-card-title"> <span class="glyphicon glyphicon-pencil btn-sm"></span></a></span>
            <span id="card-title-form" class="hidden">
              <form class="form-inline" role="form">
                <div class="form-group">
                  <input type="text" class="card-title-input form-control" name="card[title]" value="<%= card.escape("title") %>" id="title">
                  <button type="submit" class="btn btn-success btn-sm save-title">Save</button>
                </div>
              </form>
            </span>
          </h3>
        </div>

        <h4>Card Information</h4>
        <ul>
          <li>Board: <%= board.escape("title") %></li>
          <li>List: <%= list.escape("title") %></li>
        </ul>
        
        <h4>Description</h4>
          <div class="card-description">
          </div>
          
          <br>

        <div class="card-descr-form hidden">
          <form class="form-inline" role="form">
            <textarea name="card[description]" class="form-control input-sm card-descr-textarea" id="card[description]" cols="60" rows="6"><%= card.escape("description") %></textarea>

            <br>
            
            <button type="submit" class="save-card-descr btn btn-success btn-sm">Save</button>
            <button class="btn btn-sm btn-cancel cancel-card-descr"><span class="glyphicon glyphicon-remove"></span></button>
          </form>
        </div>

        <center><button class="modal-remove-card btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete Card</button></center>
      </div>
    </div>
  </div>
</div>