<div class="list-container col-md-3 clearfix" data-id="<%= list.id %>">

  <h4 class="list-header"><%= list.escape("title") %> <%= list.id %> <%= list.escape("rank") %> <button class="remove-list btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span> Remove</button></h4>
  
  <div class="panel-body">

    <div class="cards-list clearfix">
    </div>
      
    <br>
 
   <div class="add-card-container">
   
   <a href="#" class="add-card-link"> <div class="add-card-link-container" data-list-id="<%= list.id %>">Add a card...</div></a>
    
    <div class="new-card-form" id="<%= list.id %>">
    </div>
   
    </div>
  </div>
</div>